*{
	margin:0;
	padding:0;
	font-family:Arial;
}
.paper{
	margin:auto;
	width:960px;
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position:relative;
	border:1px solid white;

}

.header{
	margin:auto;
	/* margin-left:200px; */
	width:960px;
	height:70px;
	background:#3498db;
	position:fixed;
	z-index:999;
	margin-bottom:50px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-bottom-right-radius:3px;
	-moz-border-bottom-left-radius:3px;
}
.wrapper{
	margin:auto;
	Min-height:10px;
	margin-top:100px;
	width:960px;
	/* background:gray; */
	box-shadow:0px 0px 5px #bdc3c7;
	position:relative;
	border-top:1px solid black;
	margin-bottom:10px;
}
.logo{
	width:200px;
	min-height:5px;
	color:white;
	text-style:0px 0px 5px;
	float:left;
	margin-top:15px;
	font-size:30px;
	margin-left:40px;
	/* font-style:italic; */
	text-shadow:-5px -px 2px White;
		font-family:Helvetica, sans-serif;
	}
.menu{
	width:200px;
	min-height:5px;
	color:white;
	text-style:0px 0px 5px;
	float:right;
	margin:;
}
.slider{
/* 	margin-top:50px; */
	/* min-width:100%; */
	min-height:250px;
	border-bottom-style:dashed;
	border-bottom:1px solid gray; 
	margin-right:10px; 
	margin-left:10px; 
	
}
.content{
	min-width:100%;
	min-height:500px;
	/* border:1px solid black; */
	margin-top:20px;
	overflow:hidden;
}
.footer{
	width:100%;
	height:50px;
	background:#3498db;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-bottom-right-radius:3px;
	-moz-border-bottom-left-radius:3px;

}
.span1{
	width:200px;
	min-height:200px;
	box-shadow:;
}
@media screen and (max-width:980px){
.paper{
	margin:auto;
	width:860px;
	background:;
}
.wrapper{
	margin:auto;
	width:860px;
	margin-top:100px;
}
.header{
	margin:auto;
	/* margin-left:200px; */
	width:860px;
	background:#3498db;

}
.logo{
	width:;
	color:;
}
.slider{
	/* border:1px solid red; */
}
.content{
	border:1px solid black;
}
.footer{
}
}
@media screen and (max-width:768px){
.paper{
	margin:auto;
	width:560px;

}
.wrapper{
	margin:auto;
	width:560px;
	margin-top:100px;
}
.header{

	/* margin-left:200px; */
	width:560px;
	background:#3498db;
}
@media screen and (max-width:700px){
.paper{
	margin:auto;
	width:400px;

}
.wrapper{
	margin:auto;
	width:400px;
	margin-top:100px;
}
.header{

	/* margin-left:200px; */
	width:400px;
	background:#3498db;
}

@media screen and (max-width:400px){
.paper{
	margin:auto;
	width:300px;
}
.logo{
	font-size:20px;
	margin-left:10px;
}
.wrapper{
border:none;
	margin:auto;
	width:300px;
	margin-top:100px;
}
img{
	display:none;
}
.header{

	/* margin-left:200px; */
	width:300px;
	background:#3498db;
	height:50px;
}
.slider{
	display:none;
}
}